@model Bangazon.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    @*Button below should do 2 things
            1. create an Order entry with activeUserId == userId && paymentTypeId == null
            2. create an OrderProduct entry with OrderId from prev step, and this product's Id*@
    <button type="button" class="btn btn-primary" asp-action="Create" asp-controller="Orders">Add to Cart</button>
</div>
<div>
    <a asp-action="Types">Back to List</a>
</div>
