@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bangazon</h1>
    @*<p>Here are some of the latest products available on our store:</p>*@
</div>

<div class="justify-content-center">
    @*<form asp-controller="Home" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString" placeholder="Enter a city to find local products" size="30">
            <input type="submit" value="Search" />  |
            <a href=%: Url.Action(" Index", "Home" ) %>
               
                <button>Reset List</button>
            </a>
        </p>
        
    </form>*@
</div>

<h5 class="text-center">Latest Products For Sale on Bangazon!</h5>
<br />

@if (Model.ToList().Count == 0)
{
    <p>No results matching your seach. Please try another city.</p>
}
else
{

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@Url.Action("Details", "Products", new { Id = item.ProductId })>@item.Title</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                 
            </tr>
        }
    </tbody>
</table>
}
