@model Bangazon.Models.OrderProduct

@{
    ViewData["Title"] = "DeleteOrderProduct";
}

<h1>DeleteOrderProduct</h1>

<h3>Delete this @Html.DisplayFor(model => model.Product.Title) from your cart?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Quantity)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>*@
    </dl>
    
    <form asp-action="DeleteOrderProduct">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
