@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>
</hr>
@*<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DateCreated)
        </dd>
    </dl>
</div>*@

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DateCreated)
        </dd>
    </dl>
    <dl class="row">
        @{ if (Model.Order.PaymentType == null) 
            { 
                <span>Active</span>
            }
            else
            {
                <span>Completed</span>
            }
        }
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Name
                </th>
                <th>
                    Units to Purchase
                </th>
                <th>
                    Cost
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var li in Model.LineItems)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => li.Product.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => li.Units)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => li.Cost)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |*@
                        <a asp-action="Delete"
                           asp-route-id="@Model.Order.OrderProducts.Where(op => op.OrderId == Model.Order.OrderId && li.Product.ProductId == op.ProductId)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
